* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: "merriweather";
    src: url (../fonts/merriweather.ttf);
    /*I know this is a serif font, but I used the sans-serif fonts google suggested as back up since if I can't have these two, I still want contrast between this one and the headers.*/
}

body {
    background-color: rgba(105, 108, 39);
    background-image: url(../images/flowers.jpg);
}

#content {
    color: rgb(69, 33, 8);
    background-color: rgba(252, 205, 77, 0.68);
    width: 75%;
    padding: 20px;
    margin: 3em auto;
    border-radius: 15px;
}

#main {
    background-color: rgba(252, 205, 77, 0.75);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    float: left;
    width: 75%;
    overflow: auto;
    padding: 1em;
    border-radius: 15px;
}

h1,
h2,
h3 {
    font-family: 'Corben', Georgia, Times, serif;
}

p,
div {
    font-family: 'merriweather', Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
    color: rgb(69, 33, 8);
    font-size: 3em;
    padding: .25em;
    margin: 1em;
    border-radius: 15px 70px;
    background: rgba(248, 181, 0);
    background: -webkit-linear-gradient(to top, #F8B500 0%, #FCCD4D 50%, #FCEABB 100%);
    background: -moz-linear-gradient(to top, #F8B500 0%, #FCCD4D 50%, #FCEABB 100%);
    background: linear-gradient(to top, #F8B500 0%, #FCCD4D 50%, #FCEABB 100%);



}

#mainNav {
    background-color: rgba(105, 108, 39, 0.90);
    font-family: 'merriweather', Helvetica, Arial, sans-serif;


}

#mainNav li {
    display: inline-block;
    padding: 1em;

}

#mainNav a {
    color: white;
    text-decoration: none;
}

#mainNav li:hover {
    background-color: rgb(74, 77, 22);
}

#mainNav .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    

}

#mainNav .dropdown-content a {
    display: block;
    padding: 22.5px;
    color: rgb(69, 33, 8);
   


}

#mainNav .dropdown-content a:hover {
    background-color: rgba(105, 108, 39, 0.34);
}

#mainNav li.dropdown {
    position: relative;

}

#mainNav li.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 2em;

    background-color: #FCEABB;
}

#subNav {
    float: left;
    width: 25%;
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
}

#subNav ul {
    list-style: none;
    padding: 0;
}

#subNav li {
    background-color: #fccd40;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: .5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);


}

#subNav a {
    font-family: 'Corben', Georgia, Times, serif;
    color: rgb(79, 82, 27);
    text-decoration: none;



}

#subNav li:hover {
    background-color: #fceabb;
}

img {
    border-radius: 5%;
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*fancy image hover experimentation zone*/

.cool {
    position: relative;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.cool:hover .image {
    opacity: 0.3;
}

.cool:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(105, 108, 39);
    color: white;
    font-size: 14px;
    font-family: 'merriweather', Helvetica, Arial, sans-serif;
    padding: 1em 1em;
    text-align: center;

}

/*hope it works*/

footer {
    background-color: rgb(105, 108, 39);
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
}

@media screen and (max-width: 600px) {
    #mainNav a {
        float: none;
        width: 100%;
    }
}
